<main>
  <h3 class="center">Search by Title or Author</h3>
  <div class="content">
    <form method="POST" action="/searches">
      <fieldset class="google-search">
        <label>
          <input id="entername" name="query" type="text" placeholder="enter the name">
        </label>
      </fieldset>

      <fieldset class="google-search radio">
        <label>Search by Author
          <input type="radio" name="search" value="author">
        </label>
      </fieldset>

      <fieldset class="google-search radio">
        <label>Search by Title
          <input type="radio" name="search" value="title">
      </fieldset>


      <fieldset class="google-search submit">
        <button class="google-search submit" type="submit"> Search the Google Books </button>
      </fieldset>
    </form>
  </div>
</main>